target/classes/3ps-to-dax.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:twilio="http://www.mulesoft.org/schema/mule/twilio" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd 
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/twilio http://www.mulesoft.org/schema/mule/twilio/1.0/mule-twilio.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="send-data-to-DAX-flow" doc:name="send-data-to-DAX-flow">
        <vm:inbound-endpoint exchange-pattern="one-way" doc:name="VM-continue"/>
        <logger level="INFO" doc:name="Log Orchestration startTime"/>
        <tracking:custom-event event-name="" doc:name="bizEvent: OrchestrationStartTime"/>
        <message-properties-transformer doc:name="set DaxStep=1"/>
        <vm:outbound-endpoint exchange-pattern="one-way" doc:name="VM-step1"/>
    </flow>
    <flow name="DAX-step1-flow" doc:name="DAX-step1-flow">
        <vm:inbound-endpoint exchange-pattern="one-way" doc:name="VM-step1"/>
        <custom-transformer class="" doc:name="Canon-to-CompanyRequest"/>
        <enricher doc:name="Enricher - Company svc">
            <cxf:jaxws-service doc:name="SOAP"/>
            <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" method="POST" doc:name="HTTP"/>
        </enricher>
        <custom-transformer class="" doc:name="Enrich-Canonical-w-DAX-values"/>
        <logger level="INFO" doc:name="Log CompanyGUID sessionProp"/>
        <choice doc:name="Choice">
            <when expression="">
                <logger level="INFO" doc:name="step1-error"/>
                <custom-transformer class="" doc:name="Enrich-Canonical-w-Error-specifics"/>
                <vm:outbound-endpoint exchange-pattern="one-way" doc:name="VM-error"/>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="step1-success"/>
                <message-properties-transformer doc:name="set DaxStep=2"/>
                <vm:outbound-endpoint exchange-pattern="one-way" doc:name="VM-step2"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="DAX-step2-flow" doc:name="DAX-step2-flow">
        <vm:inbound-endpoint exchange-pattern="one-way" doc:name="VM-step2"/>
        <custom-transformer class="" doc:name="Canon-to-DivisionRequest"/>
        <enricher doc:name="Enricher - Division svc">
            <cxf:jaxws-service doc:name="SOAP"/>
            <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" method="POST" doc:name="HTTP"/>
        </enricher>
        <custom-transformer class="" doc:name="Enrich-Canonical-w-DAX-values"/>
        <logger level="INFO" doc:name="Log DivisionGUID sessionProp"/>
        <choice doc:name="Choice">
            <when expression="">
                <logger level="INFO" doc:name="step2-error"/>
                <custom-transformer class="" doc:name="Enrich-Canonical-w-Error-specifics"/>
                <vm:outbound-endpoint exchange-pattern="one-way" doc:name="VM-error"/>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="step2-success"/>
                <message-properties-transformer doc:name="set DaxStep=3"/>
                <vm:outbound-endpoint exchange-pattern="one-way" doc:name="VM-step3"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="do-the-same-for-step3-to-step6" doc:name="do-the-same-for-step3-to-step6">
        <logger level="INFO" doc:name="..."/>
    </flow>
    <flow name="DAX-step7-flow" doc:name="DAX-step7-flow">
        <vm:inbound-endpoint exchange-pattern="one-way" doc:name="VM-step8"/>
        <custom-transformer class="" doc:name="Canon-to-VendorRequest"/>
        <enricher doc:name="Enricher - Vendor svc">
            <cxf:jaxws-service doc:name="SOAP"/>
            <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" method="POST" doc:name="HTTP"/>
        </enricher>
        <custom-transformer class="" doc:name="Enrich-Canonical-w-DAX-values"/>
        <logger level="INFO" doc:name="Log VendorGUID[] sessionProp"/>
        <choice doc:name="Choice">
            <when expression="">
                <logger level="INFO" doc:name="step7-error"/>
                <custom-transformer class="" doc:name="Enrich-Canonical-w-Error-specifics"/>
                <vm:outbound-endpoint exchange-pattern="one-way" doc:name="VM-error"/>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="step7-success"/>
                <message-properties-transformer doc:name="set DaxStep=8"/>
                <vm:outbound-endpoint exchange-pattern="one-way" doc:name="VM-step8"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="SetupComplete" doc:name="SetupComplete">
        <vm:inbound-endpoint exchange-pattern="one-way" doc:name="VM-step8"/>
        <enricher doc:name="Enricher - Setup Complete svc">
            <cxf:jaxws-service doc:name="SOAP"/>
            <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" method="POST" doc:name="HTTP"/>
        </enricher>
        <choice doc:name="Choice">
            <when expression="">
                <logger level="INFO" doc:name="Log SetupComplete Failure"/>
                <vm:outbound-endpoint exchange-pattern="one-way" doc:name="VM-error"/>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Log SetupComplete Success"/>
                <expression-transformer doc:name="set DaxStep=Complete"/>
                <vm:outbound-endpoint exchange-pattern="one-way" doc:name="VM-callback-3PS"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="DAX-error-flow" doc:name="DAX-error-flow">
        <vm:inbound-endpoint exchange-pattern="one-way" doc:name="VM-error"/>
        <flow-ref name="" doc:name="Notify Ops"/>
        <logger level="INFO" doc:name="Log Error, failing step &amp; 3PS entityID"/>
        <vm:outbound-endpoint exchange-pattern="one-way" doc:name="VM-DAX-cleanup"/>
    </flow>
    <flow name="DAX-cleanup-flow" doc:name="DAX-cleanup-flow">
        <vm:inbound-endpoint exchange-pattern="one-way" doc:name="VM-DAX-cleanup"/>
        <custom-transformer class="" doc:name="Canon-to-CleanupRequest"/>
        <enricher doc:name="Enricher - DAX CleanUp svc">
            <cxf:jaxws-service doc:name="SOAP"/>
            <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" method="POST" doc:name="HTTP"/>
        </enricher>
        <choice doc:name="Choice">
            <when expression="">
                <logger level="INFO" doc:name="CleanUp-failed"/>
                <logger level="INFO" doc:name="Config based (Retry-or-CleanUp?)"/>
                <tracking:custom-event event-name="" doc:name="Set Alert FAILED DAX CLEAN UP"/>
                <choice doc:name="Choice">
                    <when expression="">
                        <message-properties-transformer doc:name="set DaxStep=ABORT"/>
                        <flow-ref name="" doc:name="Notify Ops - ABORT"/>
                        <vm:outbound-endpoint exchange-pattern="one-way" doc:name="VM-report-error-to-3PS"/>
                    </when>
                    <otherwise>
                        <message-properties-transformer doc:name="set DaxStep=RETRY"/>
                        <flow-ref name="" doc:name="Notify Ops - RETRY"/>
                        <expression-component doc:name="manage - Retry Count"/>
                        <vm:outbound-endpoint exchange-pattern="one-way" doc:name="VM-DAX-cleanup (recurse)"/>
                    </otherwise>
                </choice>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="CleanUp-success"/>
                <logger level="INFO" doc:name="report error to 3PS"/>
                <vm:outbound-endpoint exchange-pattern="one-way" doc:name="VM-reportError-to-3PS"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="3PS-Callback" doc:name="3PS-Callback">
        <composite-source doc:name="Composite Source">
            <vm:inbound-endpoint exchange-pattern="one-way" doc:name="VM-callback-3PS"/>
            <vm:inbound-endpoint exchange-pattern="one-way" doc:name="VM-reportError-to-3PS"/>
        </composite-source>
        <enricher doc:name="Enricher - GET-3PS-JSON">
            <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" method="POST" doc:name="HTTP-GET"/>
        </enricher>
        <logger level="INFO" doc:name="3PS-json-BEFORE"/>
        <custom-transformer class="" doc:name="JSON-transformer-enrich-from-canonical"/>
        <logger level="INFO" doc:name="3PS-json-AFTER"/>
        <enricher doc:name="Enricher - POST-3PS-JSON">
            <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" method="POST" doc:name="HTTP-POST"/>
        </enricher>
        <choice doc:name="Choice">
            <when expression="">
                <logger level="INFO" doc:name="ERROR on 3PS Update"/>
                <vm:outbound-endpoint exchange-pattern="one-way" doc:name="VM-Error"/>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="SUCCESS: Log Orchestration endTime"/>
                <tracking:custom-event event-name="" doc:name="bizEvent: OrchestrationEndTime"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="notification-service" doc:name="notification-service">
        <custom-transformer class="" doc:name="Based on Notification Level, selects Email Template and Recipient List"/>
        <all doc:name="All">
            <smtp:outbound-endpoint host="localhost" responseTimeout="10000" doc:name="SMTP"/>
            <twilio:add-incoming-phone-number-by-area-code config-ref="" areaCode="" doc:name="Twilio"/>
        </all>
    </flow>
    <flow name="mule-DAX-orchestrationFlow1" doc:name="mule-DAX-orchestrationFlow1"/>
    <choice-exception-strategy name="global-main-exception-strategy">
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <custom-processor class="com.mydoublecheck.mule.csvzone.msgprocessors.ExceptionEvaluator" doc:name="ExceptionEvaluator"/>
            <message-properties-transformer doc:name="set transacID outboundProp">
                <add-message-property key="jobId" value="#[flowVars['jobId']]"/>
            </message-properties-transformer>
            <choice doc:name="Choice">
                <when expression="#[flowVars['isRetryableException']]">
                    <logger message="Message failed (RETRY) due to: #[exception.cause] #[exception.cause.message]" level="INFO" doc:name="Logger - Retrying"/>
                    <vm:outbound-endpoint exchange-pattern="one-way" path="Q.Error" doc:name="VM-notify-3PS-for-Retry"/>
                </when>
                <otherwise>
                    <logger message="Message failed (ABORT) due to: #[exception.cause] #[exception.cause.message]" level="ERROR" doc:name="Logger - Aborting"/>
                    <vm:outbound-endpoint exchange-pattern="one-way" path="Q.Dlq" doc:name="VM-to-DLQ"/>
                </otherwise>
            </choice>
        </catch-exception-strategy>
    </choice-exception-strategy>
    <flow name="get-data-from-3PS-flow" doc:name="get-data-from-3PS-flow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP"/>
        <jersey:resources doc:name="REST"/>
        <mulexml:schema-validation-filter schemaLocations="" returnResult="true" doc:name="3PS Schema Validation"/>
        <choice doc:name="Choice">
            <when expression="">
                <message-properties-transformer doc:name="Set 'ACK-INVALID-Schema"/>
            </when>
            <otherwise>
                <message-properties-transformer doc:name="Set 'ACK-GOOD'"/>
            </otherwise>
        </choice>
        <vm:outbound-endpoint exchange-pattern="one-way" doc:name="VM-transforms"/>
        <exception-strategy ref="" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="data-transformation-flow" doc:name="data-transformation-flow">
        <vm:inbound-endpoint exchange-pattern="one-way" doc:name="VM-transforms"/>
        <json:json-to-object-transformer doc:name="JSON to Object (canon)"/>
        <flow-ref name="" doc:name="Idempotent Service"/>
        <choice doc:name="Choice">
            <when expression="">
                <logger level="INFO" doc:name="Log 'Already in DAX'"/>
                <message-properties-transformer doc:name="Set Error=DUPLICATE"/>
                <message-properties-transformer doc:name="Set DaxStep=ABORT"/>
                <vm:outbound-endpoint exchange-pattern="one-way" doc:name="VM-error"/>
            </when>
            <otherwise>
                <vm:outbound-endpoint exchange-pattern="one-way" doc:name="VM-continue"/>
            </otherwise>
        </choice>
        <exception-strategy ref="" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="OBSOLETE" doc:name="OBSOLETE">
        <vm:inbound-endpoint exchange-pattern="one-way" doc:name="VM-continue"/>
        <cxf:jaxws-service doc:name="SOAP"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" method="POST" doc:name="HTTP"/>
        <message-properties-transformer doc:name="Set 'ACK-from-DAX'"/>
        <exception-strategy ref="" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="callback-flow" doc:name="callback-flow">
        <http:inbound-endpoint exchange-pattern="one-way" host="localhost" port="8081" doc:name="HTTP"/>
        <cxf:jaxws-service doc:name="SOAP"/>
        <mulexml:xml-to-object-transformer doc:name="XML to Object (Response)"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" method="POST" doc:name="HTTP-back-to-3PS"/>
        <exception-strategy ref="" doc:name="Reference Exception Strategy"/>
    </flow>    
</mule>
